.animate-side {
    animation: sideways 2s ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes sideways {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animate-up {
    animation: upward 2s ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes upward {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.message {
    display: inline-block;
    margin-top: 100px;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(225, 225, 225, 0.9);
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}